@model IEnumerable<Mvc5DemoAppLearn.Models.Customer>

@{
    /**/

    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<p>
    @Html.ActionLink("Create New Customer", "New", "Customers")
</p>
<table class="table">
    <tr>
        <th>
            Custoemr
        </th>
        <th>
            Discount Rate
        </th>
        <th>Membership Name</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td><h2>Customer are not there for Movie Rental Application.</h2></td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CustomerName, "Edit", "Customers", new { custID = item.Id }, null)
                </td>

                <td>
                    @item.MembershipType.DiscoutRate%
                </td>
                <td>
                    @item.MembershipType.MembershipName
                </td>
            </tr>
        }
    }

</table>
