@model IEnumerable<Mvc5DemoAppLearn.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" id="tblMovies">
    <tr>
        @Html.ActionLink("Add Movie", "MovieForm", "Movies", new { @class = "btn btn-primary" })
    </tr>
    <thead class="page-header">
        <tr>
            <th>
                Movie Name
            </th>
            <th>
                Quntity In Stock
            </th>
            <th>
                Genre
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    @*@if (!Model.Any())
        {
            <tr>
                <td><h2>Movies are not there for Rental.</h2></td>
            </tr>
        }
        else
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.MovieName, "EditMovie", "Movies", new { movieId = movie.Id }, null)
                    </td>

                    <td>
                        @movie.Genre.GenreType
                    </td>
                </tr>
            }
        }*@

</table>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var dataTable = $("#tblMovies").DataTable({
                ajax: {
                    url: "/api/Movies/GetMovies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "movieName",
                        render: function (data, type, movie) {
                            return "<a href='/Movies/UpdateMovie?custID=" + movie.id + "'>" + data + "</a>"
                        }
                    },
                    {
                        data: "quntityInStock",

                    }, {
                        data: "genre.genreType",

                    }, {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link deleteMovieBtn' data-movie-id=" + data + ">Delete</button>"
                        }
                    }
                ]


            });

            $("#tblMovies").on("click", ".deleteMovieBtn", function () {
                var delbutton = $(this);


                bootbox.confirm("Are you sure, you want to delete this Custoemr", function (result) {
                    if (result) {
                        $.ajax({
                            type: "DELETE",
                            url: "/api/Movies/?movieId=" + delbutton.attr('data-movie-id'),
                            success: function () {
                                dataTable.row(delbutton.parents('tr')).remove().draw();
                            },
                            error: function () {
                                console.log("There is some error in deleting the customer");
                            }

                        })
                    }
                })

            }
            );

        });

    </script>
}